.dice-face {
    height: 5vh;
    width: 4vw;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

.dice-number {
    font-size: 2rem;
}